﻿
<div class="form-header" ng-controller="RegisterController">
    <h2>Information of Auto Drivers </h2>
 
    <h2>Please Fill the info (कृपया खालील माहिती भरा) </h2>
  </div>
  <form name="autoDriverForm" ng-submit="vm.register()">
    <div class="form-field">
      <label for="message">Auto Number  (रिक्षा नंबर)</label>
      <textarea class="input" ng-model="vm.autoDriver.autoNumber" id="autoNumber" name="autoNumber" rows="1" autofocus required></textarea>
      <span style="color : red" ng-show="autoDriverForm.autoNumber.$dirty && autoDriverForm.autoNumber.$invalid"></span>
      <span style="color : red" ng-show="autoDriverForm.autoNumber.$touched && autoDriverForm.autoNumber.$error.required">Auto Number is required.</span>
    </div>
    <div class="form-field">
      <label for="email">Owner Name  (मालकाचे नाव)</label>
      <input class="input" ng-model="vm.autoDriver.name" id="name" name="name" required/>
      <span style="color : red" ng-show="autoDriverForm.name.$dirty && autoDriverForm.name.$invalid"></span>
      <span style="color : red" ng-show="autoDriverForm.name.$touched && autoDriverForm.name.$error.required">Owner Name is required.</span>
    </div>
    <div class="form-field">
        <label for="mobile">Mobile Number  (पेटीएम मोबाईल नंबर)</label>
        <textarea class="input" ng-model="vm.autoDriver.mobileNumber" id="mobile" name="mobile" rows="1" autofocus required></textarea>
        <span style="color : red" ng-show="autoDriverForm.mobile.$dirty && autoDriverForm.mobile.$invalid"></span>
        <span style="color : red" ng-show="autoDriverForm.mobile.$touched && autoDriverForm.mobile.$error.required">Mobile Number is required.</span>
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Send</button>
    </div>
  </form>
