﻿<!DOCTYPE html>
<html ng-app="covid19">
<head>
    <meta charset="utf-8" />
    <title>AngularJS User Registration and Login Example</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href="app-content/app.css" rel="stylesheet" />

    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-cookies.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-resource.js"></script>

    <script src="app.module.js"></script>
    <script src="app.config.js"></script>

    <script src="home/home.controller.js"></script>
    <script src="donor/donor.controller.js"></script>
    <script src="register/register.controller.js"></script>

    <script src="app-services/flash.service.js"></script>

</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view></div>
            </div>
        </div>
    </div>
    

</body>
</html>